extends layout
block content
	.container
		.col-sm-12
			.col-sm-6.col-sm-offset-3.centerPhoto
				.img-responsive.center-block
					img(src='http://toninospizzaandpasta.com/wp-content/uploads/2014/04/pizza-page.png')
				h1 Welcome to my Pizza Store.
				a(href="/about")
					.text-center
						h2 About
